@use 'colorSchema';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: colorSchema.$background-color;
}

.boxContainer {
    display: flex;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 6px;
    width: 50vw;
    overflow: hidden;
}

.boxLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: colorSchema.$secondary-box-color;
    padding: 48px 56px;
    gap: 32px;
}

.boxRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    background-color: colorSchema.$box-color;
    padding: 48px;
    font-style: italic;
}

.title {
    font-size: 28px;
    color: rgb(102, 102, 102);
}

.subTitle {
    width: 100%;
    color: colorSchema.$secondary-color;
    border-bottom: 1.5px solid colorSchema.$primary-color;
}

.valueText {
    color: colorSchema.$primary-color;
    font-size: 18px;
}

.valuePrice {
    color: colorSchema.$secondary-color;
}